.addEmployeeContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  width: 100%;
}

.form {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  font-family: "Red Hat Display", sans-serif;
  gap: 10px;
}
.form label {
  font-weight: bold;
  color: black;
}
.form input,
.form select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}
/* Бутон стилове */
button {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* Primary button (Add Employee) */
button[type="submit"] {
  background-color: #4caf50;
  color: white;
}

button[type="submit"]:hover {
  background-color: #45a049;
  transform: scale(1.03);
}

/* Secondary button (Reset Form) */
.resetBtn {
  background-color: #f44336;
  color: white;
}

.resetBtn:hover {
  background-color: #e53935;
  transform: scale(1.03);
}
