.addEmployeeContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  width: 100%;
}

.form {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  font-family: "Red Hat Display", sans-serif;
  gap: 10px;
}
.form label {
  font-weight: bold;
  color: black;
}
.form input,
.form select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}
