.employee {
  /* контейнер за картите */
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 колони */
  grid-template-rows: repeat(2, auto); /* 2 реда */
  row-gap: 20px; /* разстояние между редовете */
  column-gap: 5px; /* по-малко разстояние между колоните */
  justify-items: center; /* центрира картите хоризонтално в колоната */
  align-items: start; /* подравнява картите отгоре */
  padding: 2rem;
  background-color: hsl(235, 36%, 46%);
  width: 100%;
  box-sizing: border-box;
}
