.person-card {
  background-color: white;
  color: black;
  font-size: 0.5em;

  /* ❌ МАХАМЕ ширините */
  /* width: 200px; */
  /* width: calc(15% - 16px); */

  height: 350px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);

  padding: 15px;
  padding-top: 30px;

  box-sizing: border-box;
}

.person-card > * {
  margin-bottom: 8px;
}

.person-card-buttons {
  display: flex;
  gap: 4px;
  margin-top: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.person-card-buttons button {
  background-color: hsl(235, 36%, 46%);
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;

  min-width: 60px;
  transition: background 0.25s ease, transform 0.15s ease;
}

.person-card-buttons button:hover {
  transform: translateY(-2px);
}

.person-card-buttons button:active {
  transform: translateY(0);
}
