* {
  margin: 0;
  padding: 0;
}

#root {
  background-color: aqua;
  /* height: 100vh; */
  min-height: 100vh;
  width: 100vw;
}
.headerContainer {
  margin-top: 10px;
  color: white;
  font-size: 2em;
  width: 100%;
  background-color: hsl(235, 36%, 46%);
  padding: 2rem 2rem;
  font-family: "Red Hat Display";
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.nav-links {
  display: flex;
  gap: 50px;
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1em;
}
.nav-links a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: row; /* подрежда елементите хоризонтално */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* ако не се побират, да минат на следващ ред */
  /* height: 79vh; */
  min-height: calc(100vh - 120px); /* адаптивна минимална височина */
  width: 100%;
  margin-top: 0.6rem; /* ето реално разстояние под header */
  gap: 40px; /* разстояние между картите */
  background-color: hsl(235, 36%, 46%);
  color: white;
  box-sizing: border-box; /* da ne izlizat ot ekrana */
  padding-bottom: 2rem; /* малко място под последния елемент */
  padding-top: 2rem; /* малко място над първия елемент */
  overflow-y: auto; /* позволява скрол, ако екрана е малък */
}

.employee {
  /* контейнер за картите */
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 колони */
  grid-template-rows: repeat(2, auto); /* 2 реда */
  row-gap: 20px; /* разстояние между редовете */
  column-gap: 5px; /* по-малко разстояние между колоните */
  justify-items: center; /* центрира картите хоризонтално в колоната */
  align-items: start; /* подравнява картите отгоре */
  padding: 2rem;
  background-color: hsl(235, 36%, 46%);
  width: 100%;
  box-sizing: border-box;
}

.person-card {
  background-color: white;
  color: black;
  font-size: 0.5em;
  width: calc(15% - 16px); /* 5 на ред (коригира gap) */
  width: 200px; /* фиксирана ширина */
  height: 300px; /* фиксирана височина */
  display: flex;
  flex-direction: column; /* подрежда елементите вертикално */
  flex-wrap: nowrap;
  justify-content: center; /* центрира вертикално box */
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  padding: 15px;
  /*gap: 10px; paztojanie mejdu redovete*/
  box-sizing: border-box; /* da ne izlizat ot ekrana */
}
.person-card > * {
  /*vsichki deza v box*/
  margin-bottom: 10px; /*razstojanie mejdu redovete kato gap*/
}

body {
  font-family: "Red Hat Display", sans-serif;
}

.form {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  font-family: "Red Hat Display", sans-serif;
  gap: 10px;
}
.form label {
  font-weight: bold;
  color: black;
}
.form input,
.form select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.footer {
  margin-top: 10px;
  color: white;
  font-size: 0.9em;
  width: 100%;
  background-color: hsl(235, 36%, 46%);
  padding: 2rem 2rem;
  font-family: "Red Hat Display";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* tarvitaan mobiilissa */
  box-sizing: border-box; /* da ne izlizat ot ekrana */
}
.footer > * {
  flex-basis: 100%;
  flex-grow: 1;
}
